# Ignorar objetos do Git (apenas como precaução)
.git/objects/
.git/objects/pack/

# Ignorar ambientes virtuais
airbnb-venv/
*.dll

# Ignorar arquivos de dados CSV
Data/*.csv

# Ignorar resultados do modelo
Results/*.pkl

# Ignorar resultados do modelo
streamlit_deploy/*.pkl


# Ignorar pasta deploy.zip
Predictive_analysis_Airbnb_property_rental/streamlit_deploy.zip